.container {
  padding-right: 15px;
  max-width: 1170px;
  padding-left: 15px;
  position: relative;
  margin: 0 auto;
}
.bg-main {
  background-color: #184157;
}
.bg-button-main {
  background-color: #f47b21;
}
.button,
img {
  vertical-align: middle;
}
p {
  font-size: 14px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
nav.header {
  height: 70px;
  width: 100%;
  background-color: #184157;
  position: fixed;
  z-index: 9;
}
nav .logo {
  padding-left: 15px;
  padding-top: 20px;
  display: inline-block;
}
nav .logo a {
  margin-top: 50px;
  margin-left: -15px;
  line-height: normal;
  font-weight: 600;
  font-size: 24px;
}
nav ul {
  margin-top: 20px;
  float: right;
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  float: left;
  position: relative;
  list-style: none;
}
nav ul li a {
  font-size: 13px;
  font-weight: 500;
  line-height: 35px;
  margin: 14px 16px;
}
nav ul li.status::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 25px;
  background-color: #47c652;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: -10px;
}
nav ul li.login a {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  padding: 4px 8px 8px 8px;
}
nav ul li.cta a {
  background-color: #f47b21;
  border-radius: 3px;
  padding: 4px 8px 8px 8px;
}
@media screen and (max-width: 800) {
  span::before {
    content: '\f0c9';
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    width: 30px;
    height: 42px;
    position: absolute;
    top: 28px;
    margin-right: 20px;
    vertical-align: middle;
    color: #fff;
  }
}
section.hero.pricing {
  padding-top: 110px;
  padding-bottom: 210px;
  background: url(https://weatherstack.com/site_images/mountains.svg), linear-gradient(135deg, #1f4e69 0, #164058 100%);
  color: #fff;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
section.hero.pricing .cycle a {
  position: relative;
  font-size: 13px;
  padding: 10px 15px 10px 10px;
  margin-top: 20px;
  background-color: #fff;
  height: 10px;
  color: #000;
}
section.hero.pricing .cycle::after {
  content: '';
  display: inline-block;
  clear: both;
}
section.hero.pricing .cycle a::before {
  content: '\f0c8';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 10px;
  display: inline-block;
  position: relative;
  padding-right: 5px;
}
section.hero.pricing .cycle .yearly::after {
  content: 'up to 15% Discount';
  font-size: 10px;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 0 4px;
  background-color: #8a9bae;
  color: #fff;
}
section.pricing_item .container ul {
  margin: -180px 0 0;
  padding-top: 30px;
  text-align: center;
  color: #16222f;
}
section.pricing_item .container ul .free .mc_header::before {
  content: '\f0c2';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}
section.pricing_item .container ul .standard .mc_header::before {
  content: '\f6c4';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}
section.pricing_item .container ul .professional .mc_header::before {
  content: '\f185';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}
section.pricing_item .container ul .business .mc_header::before {
  content: '\f2dc';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}
section.pricing_item .container ul .enterprise .mc_header::before {
  content: '\f1ad';
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
}
section.pricing_item .container ul > li {
  text-align: left;
  display: inline-block;
  width: 211px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  border-radius: 5px;
}
section.pricing_item .container ul > li .main_container {
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: #ebeff4;
  text-align: center;
}
section.pricing_item .container ul > li .main_container .mc_header {
  padding: 35px 0 15px;
}
section.pricing_item .container ul > li .main_container p {
  height: 100px;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 20px;
}
section.pricing_item .container ul > li .main_container .monthly_data span {
  font-weight: 600;
  display: inline-block;
}
section.pricing_item .container ul > li .main_container .monthly_data .align_top {
  position: absolute;
  padding-top: -4px;
  font-size: 14px;
  display: inline-block;
}
section.pricing_item .container ul > li .main_container .monthly_data .frequency {
  font-weight: 200;
  font-size: 11px;
  padding-left: 26px;
}
section.pricing_item .container ul > li .main_container .monthly_data .yearly_data {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 5px;
}
section.pricing_item .container ul > li .main_container a {
  background-color: #dde1e7;
  padding: 10px 10px;
  margin: 40px 0 0;
  display: inline-block;
  font-size: 12px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #848484;
  width: 90%;
  border-radius: 3px;
}
section.pricing_item .container ul > li .feature_container {
  list-style: none;
  margin-top: 25px;
  display: flex;
}
section.pricing_item .container ul > li .feature_container ul {
  list-style: none;
  align-items: flex-start;
  margin: 0 auto;
  padding-left: 15px;
  border-right: 1px solid #dde1e7;
}
section.pricing_item .container ul > li .feature_container ul li {
  font-size: 15px;
  text-align: left;
  padding-bottom: 13px;
  display: inline-block;
}
section.pricing_item .container ul > li .feature_container ul .feature_api_requests::before {
  content: '\f121';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_module::before {
  content: '\24';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_support::before {
  content: '\f0c0';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_current::before {
  content: '\f0c2';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_autocomplete::before {
  content: '\f3c5';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_https::before {
  content: '\f3ed';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_astronomy::before {
  content: '\f186';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_hourbyhour::before {
  content: '\f2f2';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_history::before {
  content: '\f017';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_languages::before {
  content: '\f024';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_bulk::before {
  content: '\f0c9';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_forecast::before {
  content: '\f185';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul > li .feature_container ul .feature_custom::before {
  content: '\f013';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}
section.pricing_item .container ul .professional .main_container::before {
  content: 'most popular';
  display: block;
  position: absolute;
  top: -18px;
  width: 100%;
  height: 24px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Promo, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: #15394c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 4px;
}
section.customers li {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 143px;
  vertical-align: center;
}
section.customers ul {
  margin-top: 20px;
}
section.customers ul li:nth-child(1) {
  font-weight: 650;
  font-size: 15px;
  width: 185px;
  text-align: left;
  top: -20px;
}
section.customers ul li.deloitte {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_deloitte.svg);
  background-repeat: no-repeat;
  background-size: 120px;
  top: 1px;
  margin-right: 20px;
}
section.customers ul li.microsoft {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_microsoft.svg);
  background-repeat: no-repeat;
  background-size: 135px;
  top: -1px;
}
section.customers ul li.warnerbros {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_warnerbros.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  top: -4px;
}
section.customers ul li.wawa {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_wawa.svg);
  background-repeat: no-repeat;
  background-size: 85px;
  top: -10px;
  margin-left: -50px;
}
section.customers ul li.schneider {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_schneider.svg);
  background-repeat: no-repeat;
  background-size: 125px;
}
section.customers ul li.ericsson {
  background-position: center;
  background: url(https://weatherstack.com/site_images/client_ericsson_2.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  top: -10px;
  margin-left: 50px;
  margin-right: -100px;
}
section.features_roundup {
  padding: 50px 0 40px;
  background: #eff2f5 url(https://weatherstack.com/site_images/world_map_vector_objects.svg);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: center 10%;
}
section.features_roundup .row {
  display: block;
  padding: 20px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-left: 125px;
  padding-bottom: 25px;
}
section.features_roundup h4 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 260px;
}
section.features_roundup .realtime_weather .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f0c2';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .location_search .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f3c5';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .astronomy_data .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f186';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .hourbyhour_data .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f2f2';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .historical_data .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f017';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .forecast_data .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f185';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .languages .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f024';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .bulk_queries .heading::before {
  font-family: 'font awesome 6 free';
  content: '\f0c9';
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  vertical-align: center;
  position: absolute;
  left: 10px;
}
section.features_roundup .row:first-of-type {
  border-top: 2px dashed #dde2e6;
  padding-top: 50px;
}
section.features_roundup .row {
  display: block;
  padding: 20px;
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding-left: 125px;
  padding-bottom: 25px;
  max-width: 1200px;
}
section.features_roundup .row p {
  max-width: 500px;
  font-size: 14px;
  line-height: 20px;
}
section.features_roundup .row .included_in {
  position: absolute;
  top: 0;
  right: 0;
  margin: 45px 0;
  height: 82px;
  border-left: 2px dashed #dde2e6;
  padding-left: 45px;
  padding-top: 17px;
  text-align: left;
  width: 240px;
}
section.features_roundup .row .included_in span:first-of-type {
  display: block;
  font-weight: bold;
  background: #416376;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  margin-bottom: 7px;
}
section.faq h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 50px 0;
}
section.faq .inline_left {
  display: inline-block;
  vertical-align: top;
  padding-right: 40px;
}
section.faq .inline_right {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  padding-left: 20px;
}
section.faq .topic h3 {
  font-size: 15px;
  color: #949494;
}
section.faq ul {
  list-style: none;
  padding-left: 0;
  font-weight: 600;
}
section.faq ul li p.question {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #dedee1;
  cursor: pointer;
}
section.faq ul li p.question::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  right: 15px;
  margin-left: -6px;
  margin-top: -1px;
  background: #aaadb1;
}
section.faq ul li p.question::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  top: 50%;
  right: 20px;
  margin-left: -1px;
  margin-top: -6px;
  transition: transform 0.25s ease, opacity 0.25s ease 75ms;
  background: #aaadb1;
}
section.faq ul li .answer {
  background-color: #ebeff4;
  padding: 20px 15px;
  line-height: 20px;
}
section.faq li.open p.question::after {
  display: none;
}
section.faq li p.answer {
  display: none;
}
section.faq li.open p.answer {
  display: block;
  background: #ebeff4;
  padding: 20px 15px;
  line-height: 23px;
  margin-bottom: 0;
}
section.cta {
  padding: 45px 30px 50px 30px;
  font-weight: 650;
  font-size: 16px;
  text-align: center;
  background-color: #eef2f5;
}
section.cta div {
  display: inline-block;
}
section.cta .ready::after {
  content: '\f061';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  margin: 0 15px;
}
section.cta a {
  background-color: #f47b21;
  border-radius: 3px;
  padding: 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
}
footer {
  background-color: #184157;
  text-align: center;
  padding: 50px 0;
  font-size: 14px;
  color: #fff;
}
footer .custom-container {
  display: flex;
  justify-content: flex-start;
}
footer .custom-container .right_side {
  width: 27%;
  font-size: 12px;
}
footer .custom-container .right_side .footer_logo {
  text-align: left;
}
footer .custom-container .right_side .social_links {
  display: flex;
  margin-top: 20px;
}
footer .custom-container .right_side .social_links .social_logo img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
footer ul {
  list-style: none;
  text-align: left;
  width: 196px;
  font-size: 14px;
  font-weight: 100;
}
footer ul li {
  line-height: 30px;
}
footer ul li:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: 10px;
}
footer .copyright_link {
  padding-top: 40px;
  font-size: 13px;
}
footer .copyright_text {
  margin-top: 12px;
  font-size: 12px;
}
